<style>
  .DB{
    background: var(--verde-escuro);
    color: var(--branco);
    border-radius: 700px;}
</style>

<script src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" href="/Dashboard.css">
<div>
  <div class="container-dashboard1 graph"></div>
    <div class="container1">
        <div class="container-dashboard2 graph"></div>
        <div class="container-dashboard3 graph"></div>
    </div>
  </div>
  <div>
    <div class="container-dashboard4 graph"></div>
    <div class="container-dashboard5 graph"></div>
    <div class="container-dashboard6 graph"></div>
  </div>
  <div>
    <div class="container-dashboard7 graph"></div>
    <div class="container-dashboard8 graph"></div>
    <div class="container-dashboard9 graph"></div>
</div>
<script>
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      // Define the chart to be drawn.
      let data = new google.visualization.arrayToDataTable([
        ['time', 'temp'],
        {{#each data}}
        ['{{this.time}}',{{this.values.temperature}}],
        {{/each}}
      ]);
      const options = {
          title: 'Company Performance',
          curveType: 'function',
          focusTarget: 'category',
          legend: { position: 'bottom' },
          backgroundColor: 'transparent'
        };
      // Instantiate and draw the chart.
      const chart = new google.visualization.LineChart(document.querySelector('.container-dashboard1'));
      chart.draw(data, options);
    }
    google.charts.setOnLoadCallback(drawChart2);
    function drawChart2() {
      // Define the chart to be drawn.
      let data = new google.visualization.arrayToDataTable([
        ['time', 'precip'],
        {{#each data}}
        ['{{this.time}}',{{this.values.precipitationProbability}}],
        {{/each}}
      ]);
      const options = {
          title: 'Company Performance',
          curveType: 'function',
          focusTarget: 'category',
          legend: { position: 'bottom' },
          backgroundColor: 'transparent'
        };
      // Instantiate and draw the chart.
      const chart = new google.visualization.LineChart(document.querySelector('.container-dashboard2'));
      chart.draw(data, options);
    }
    google.charts.setOnLoadCallback(drawChart3);
    function drawChart3() {
      // Define the chart to be drawn.
      let data = new google.visualization.arrayToDataTable([
        ['time', 'precip'],
        {{#each data}}
        ['{{this.time}}',{{this.values.humidity}}],
        {{/each}}
      ]);
      const options = {
          title: 'Company Performance',
          curveType: 'function',
          focusTarget: 'category',
          legend: { position: 'bottom' },
          backgroundColor: 'transparent'
        };
      // Instantiate and draw the chart.
      const chart = new google.visualization.LineChart(document.querySelector('.container-dashboard3'));
      chart.draw(data, options);
    }
    google.charts.setOnLoadCallback(drawChart4);
    function drawChart4() {
      // Define the chart to be drawn.
      let data = new google.visualization.arrayToDataTable([
        ['time', 'precip'],
        {{#each data}}
        ['{{this.time}}',{{this.values.windSpeed}}],
        {{/each}}
      ]);
      const options = {
          title: 'Company Performance',
          curveType: 'function',
          focusTarget: 'category',
          legend: { position: 'bottom' },
          backgroundColor: 'transparent'
        };
      // Instantiate and draw the chart.
      const chart = new google.visualization.LineChart(document.querySelector('.container-dashboard4'));
      chart.draw(data, options);
    }
    google.charts.setOnLoadCallback(drawChart5);
    function drawChart5() {
      // Define the chart to be drawn.
      let data = new google.visualization.arrayToDataTable([
        ['time', 'precip'],
        {{#each data}}
        ['{{this.time}}',{{this.values.cloudCover}}],
        {{/each}}
      ]);
      const options = {
          title: 'Company Performance',
          curveType: 'function',
          legend: { position: 'bottom' },
          focusTarget: 'category',
          backgroundColor: 'transparent'
        };
      // Instantiate and draw the chart.
      const chart = new google.visualization.LineChart(document.querySelector('.container-dashboard5'));
      chart.draw(data, options);
    }
    google.charts.setOnLoadCallback(drawChart6);
    function drawChart6() {
      // Define the chart to be drawn.
      let data = new google.visualization.arrayToDataTable([
        ['time', 'precip'],
        {{#each data}}
        ['{{this.time}}',{{this.values.rainIntensity}}],
        {{/each}}
      ]);
      const options = {
          title: 'Company Performance',
          focusTarget: 'category',
          curveType: 'function',
          legend: { position: 'bottom' },
          backgroundColor: 'transparent'
        };
      // Instantiate and draw the chart.
      const chart = new google.visualization.LineChart(document.querySelector('.container-dashboard6'));
      chart.draw(data, options);
    }
  </script>